body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Styles for the main container */
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

/* Styles for form elements */
form {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333333;
}

/* Styles for sumbmit button */
.btn-submit {
    background-color: #ff4500;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #ff6e40;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff4500;
    color: #ffffff;
}

.suggested-assignment {
    margin-top: 20px;
}

.suggested-assignment h2 {
    margin-bottom: 10px;
    color: #333333;
}

.assignment-list {
    list-style: none;
    padding: 0;
}

.assignment-list li {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333333;
}

/* Styles for delete button */
.btn-delete {
    background-color: #ff4500;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #ff6e40;
}
